<div class="row">
  <div class="col-sm-offset-4 col-sm-4">
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.button :submit, class: 'btn btn-success btn-block' %>
    <% end %>
  </div>
</div>

